// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2025 NXP
 */

#include "imx8mp-frdm.dts"

/ {
	// Patch for IW61x:
	// 1：ffu_gpio_irq (make GPIO_SPI_INT interruptible)
	// 2: make gpio IW61x_IND_RST_15_4 and IW61x_SPI_INT drivable from userspace
	// 3: enable ecspi2 for IWxxx_SPI and SPI 50µs interleaved
	// 4: set bt fw-init-baudrate to 3000000
	model = "NXP FRDM i.MX8MP board for IW612";
};

&i2c1 {
	pca6416_b: gpio@21 {
		gpio-line-names = "", "", "", "", "", "", "", "", "", "", "", "", "IWxxx_NB_IND_RST_15_4", "IWxxx_NB_SPI_INT";
	};
};

&ecspi2 {
	pinctrl-assert-gpios = <&pca6416_b 6 GPIO_ACTIVE_LOW>;

	spidev1: spi@0 {
		spi-max-frequency = <1000000>;
		spi-cs-inactive-delay-ns = <50000>;
		label="IWxxx_SPIDEV";
	};
};

&uart1 {
	bluetooth {
		fw-init-baudrate = <3000000>;
	};
};
